body {
    font-size: 14px;
    font-family: sans-serif;
}

ul li {
    list-style: none;
}

.list span {
    cursor: pointer;
}

.hide::after {
    content: "[+]";
}

.show::after {
    content: "[-]";
}